@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Righteous&display=swap');
main{
    font-family: 'Righteous', cursive;
    display: flex;
    background-color: aqua;
}
.container{
    font-family: 'Righteous', cursive;
    color: rgb(31, 35, 35);
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    
}
a{
    text-decoration:none;
}
.cabecalho{
    background-blend-mode: screen, normal;
    width: 75%;
    height: 350px;
    background-image: url("/assets/img/backgr.png");
    display: flex; 
}
.foto{
    
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}
.descri{
    margin-top: 100px;
    margin-left: 20px;
    color: black;

}
.menu {
   
    background: gray;
    width: 75%;
    margin-top: 1px; 
    justify-content: center;
    display:flex;
    text-align: center;
    text-decoration:none
}
.botoes{
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-content: space-around;
    color: black;
}
li{
    margin: 1%;
}
#boton2{
    width: 100px; 
    height: 30px;
    border-radius: 10px;
}
#boton3{
    width: 100px; 
    height: 30px;
    border-radius: 10px;
}
#boton4{
    width: 100px; 
    height: 30px;
    border-radius: 10px;
    align-items: center;
}
ul li:hover{
    background: white;
    color: black;
}
.hobbies{
    display: flex;
   border: 1px solid black;
   width: 75%;
   align-items: center;

}
.inter{
    background-color:rgb(188, 186, 186) ;
    display: flex;
    width: 61%;
    justify-content: center;
    margin-left: 250px;
    flex-direction: column; 
  
}
#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.img{
    margin-left: 78px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Define o número total de colunas que serão criadas no grid. */
    grid-template-rows: 150px;
    /* Define a quantidade de linhas no grid */
    grid-gap: 9px 8px;
    /* Define o gap (espaçamento) entre os elementos do grid. */
    padding: 50px 10px;
    /* border: 1px solid black; */
}
.rodape{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
footer{
    background-color: gray;
    width: 61%;
    margin-left: 250px;
}
